.ukuran-nav{
	min-height: 4rem;
}

.bg-ungu{
	background: #563d7c !important;
}
.color-ungu{
	color: #563d7c !important;
}
.fs-h1 {
    font-size: 4rem;
    color: #7952b3;
}

.konten{
	padding-top: 5rem;
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    list-style: none;
    display: inline;
}